<section class=" container min-high mt-3">
    <h2 class="text-center">Registration</h2>
    <form #myForm="ngForm"  (ngSubmit) = "addemployee(myForm.value)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">ID</label>
                <input type="text" class="form-control"  placeholder="your ID"
                ngModel name="ID" #ID="ngModel" required>
               
            </div> 
            <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control"  placeholder="your Name"
                ngModel name="Name" #Name="ngModel" required>
                <div  
                *ngIf="Name.invalid && Name.touched">
                    Invalid Name
                </div> 
            </div> 
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEmail4"> Salary</label>
                <input type="number" class="form-control"  placeholder="your Salary"
                ngModel name="Salary" #Salary="ngModel" required>
               
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">BirthDay</label>
                <input type="text" class="form-control"  placeholder="your BirthDay"
                ngModel name="BirthDay" #BirthDay="ngModel" required >
                
            </div>
            <div class="form-group col-md-4">
                    <label for="inputEmail4">Gender</label>
                    <input type="text" class="form-control" placeholder="your Gender"
                    ngModel name="Gender" #Gender="ngModel" required>
                   
            </div>
        </div>
        <button type="submit" class="btn btn-primary"
        [disabled]="myForm.invalid"
        >Sign up</button>
    </form>
</section>
